#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        #include "macros.dtsi"
      #include "version.dtsi"
      #ifndef VERSION_MACRO

        macro_ver: macro_ver {
            compatible = "zmk,behavior-macro";
            label = "macro_version";
            #binding-cells = <0>;
            bindings = <&kp RET>, <&macro_press>;
        };

        #endif

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick_tap_ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hml: hml {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <7 8 9 10 11 12 13 21 22 23 24 25 26 27 37 38 39 40 41 42 43 44 45 53 54 55 56 57 58 59 69 70 71 72 73 74 75 35 36 52 65 66 67 68>;
            hold-trigger-on-release;
        };

        hmr: hmr {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            tapping-term-ms = <250>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 14 15 16 17 18 19 20 28 29 30 31 32 33 34 35 36 46 47 48 49 50 51 52 60 61 62 63 64 65 66 67 37 38 53 68 69 70>;
            hold-trigger-on-release;
        };

        hrmlshift: hrmlshift {
            compatible = "zmk,behavior-hold-tap";
            label = "HRMLSHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            hold-trigger-key-positions = <41 42 43 44>;
            hold-trigger-on-release;
        };

        hmrrshift: hmrrshift {
            compatible = "zmk,behavior-hold-tap";
            label = "HMRRSHIFT";
            #binding-cells = <2>;
            tapping-term-ms = <175>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <150>;
            require-prior-idle-ms = <125>;
            hold-trigger-key-positions = <32 31 30 29>;
            hold-trigger-on-release;
        };
    };

    macros {
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp EQUAL             &kp N1        &kp N2           &kp N3            &kp N4             &kp N5  &mo 6                                                                     &mo 6      &kp N6  &kp N7          &kp N8        &kp N9            &kp N0                &kp MINUS
&kp TAB               &kp Q         &kp W            &kp E             &kp R              &kp T   &kp LG(LS(S))                                                             &tog 1     &kp Y   &kp U           &kp I         &kp O             &kp P                 &kp BSLH
&mt CAPSLOCK ESCAPE   &hml LCTRL A  &hml LEFT_ALT S  &hml LCMD D       &kp F              &kp G   &kp LC(C)      &kp LCTRL     &kp LALT       &kp LGUI         &kp RCTRL    &kp LC(V)  &kp H   &kp J           &hmr RCMD K   &hmr RIGHT_ALT L  &hmr RCTRL SEMICOLON  &kp APOSTROPHE
&mt LEFT_SHIFT EQUAL  &kp Z         &kp X            &kp C             &kp V              &kp B                                &kp HOME       &kp PG_UP                                &kp N   &kp M           &kp COMMA     &kp DOT           &kp FSLH              &mt RIGHT_SHIFT MINUS
&kp LC(A)             &kp LC(Z)     &kp GRAVE        &kp LEFT_BRACKET  &kp RIGHT_BRACKET          &kp BACKSPACE  &lt 2 DELETE  &lt 4 END      &lt 4 PAGE_DOWN  &lt 2 ENTER  &kp SPACE          &kp DOWN_ARROW  &kp UP_ARROW  &kp LEFT_ARROW    &kp RIGHT             &kp LC(SPACE)
            >;
        };

        MacLayer {
            bindings = <
&trans               &trans               &trans           &trans               &trans  &trans  &trans                                                                     &trans     &trans  &trans  &trans                &trans            &trans                        &trans
&trans               &trans               &trans           &trans               &trans  &trans  &kp LS(LA(LC(LG(NUMBER_2))))                                               &trans     &trans  &trans  &trans                &trans            &trans                        &trans
&mt CAPSLOCK ESCAPE  &hml LEFT_COMMAND A  &hml LEFT_ALT S  &hml LEFT_CONTROL D  &trans  &trans  &kp LG(C)                     &kp LCMD  &kp LALT      &kp LCTRL  &kp RCMD  &kp LG(V)  &trans  &trans  &hmr RIGHT_CONTROL K  &hmr RIGHT_ALT L  &hmr RIGHT_COMMAND SEMICOLON  &kp APOSTROPHE
&trans               &trans               &trans           &trans               &trans  &trans                                          &trans        &trans                          &trans  &trans  &trans                &trans            &trans                        &trans
&kp LG(A)            &kp LG(Z)            &trans           &trans               &trans          &trans                        &trans    &trans        &trans     &trans    &trans             &trans  &trans                &trans            &trans                        &kp LG(SPACE)
            >;
        };

        CombinedNumSumFnWin {
            bindings = <
&kp F1         &kp F2                      &kp F3                  &kp F4                  &kp F5                    &kp F6        &trans                                      &trans  &kp F7            &kp F8               &kp F9                   &kp F10                  &kp F11                      &kp F12
&trans         &kp EXCLAMATION             &kp AT_SIGN             &kp HASH                &kp DOLLAR                &kp PERCENT   &trans                                      &trans  &kp CARET         &kp AMPERSAND        &kp ASTERISK             &kp LEFT_PARENTHESIS     &kp RIGHT_PARENTHESIS        &trans
&kp BACKSPACE  &hml LEFT_CONTROL NUMBER_1  &hml LEFT_ALT NUMBER_2  &hml LEFT_GUI NUMBER_3  &hml LEFT_SHIFT NUMBER_4  &kp NUMBER_5  &trans  &trans  &trans      &trans  &trans  &trans  &kp NUMBER_6      &hmr RIGHT_SHIFT N7  &hmr RIGHT_GUI NUMBER_8  &hmr RIGHT_ALT NUMBER_9  &hmr RIGHT_CONTROL NUMBER_0  &trans
&trans         &trans                      &trans                  &trans                  &trans                    &trans                        &trans      &trans                  &kp LEFT_BRACKET  &kp RIGHT_BRACKET    &trans                   &trans                   &trans                       &trans
&trans         &trans                      &trans                  &trans                  &trans                                  &trans  &trans  &trans      &trans  &trans  &trans                    &trans               &trans                   &trans                   &trans                       &trans
            >;
        };

        CombinedNumSumFnMAC {
            bindings = <
&trans  &trans                      &trans  &trans                      &trans  &trans  &trans                                      &trans  &trans  &trans  &trans                       &trans  &trans                       &trans
&trans  &trans                      &trans  &trans                      &trans  &trans  &trans                                      &trans  &trans  &trans  &trans                       &trans  &trans                       &trans
&trans  &hml LEFT_COMMAND NUMBER_1  &trans  &hml LEFT_CONTROL NUMBER_3  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &hmr RIGHT_CONTROL NUMBER_8  &trans  &hmr RIGHT_COMMAND NUMBER_0  &trans
&trans  &trans                      &trans  &trans                      &trans  &trans                  &trans      &trans                  &trans  &trans  &trans                       &trans  &trans                       &trans
&trans  &trans                      &trans  &trans                      &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans                       &trans  &trans                       &trans
            >;
        };

        NavigationWin {
            bindings = <
&trans  &trans                &trans                &trans                             &trans          &trans            &trans                                          &trans  &trans      &trans         &trans           &trans     &trans  &trans
&trans  &kp C_BRIGHTNESS_INC  &kp C_BRIGHTNESS_DEC  &kp C_AC_DESKTOP_SHOW_ALL_WINDOWS  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT                                      &trans  &kp C_MUTE  &kp C_VOL_DN   &kp C_VOLUME_UP  &trans     &trans  &trans
&trans  &kp RCTRL             &kp RALT              &kp RGUI                           &kp LSHFT       &trans            &trans      &trans  &trans      &trans  &trans  &trans  &kp LEFT    &kp DOWN       &kp UP_ARROW     &kp RIGHT  &trans  &trans
&trans  &trans                &trans                &trans                             &trans          &trans                                &trans      &trans                  &trans      &kp PAGE_DOWN  &kp PAGE_UP      &trans     &trans  &trans
&trans  &trans                &trans                &trans                             &trans                            &trans      &trans  &trans      &trans  &trans  &trans              &trans         &trans           &trans     &trans  &trans
            >;
        };

        NavigationMac {
            bindings = <
&trans  &trans        &trans  &trans            &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans            &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp LEFT_GUI  &trans  &kp LEFT_CONTROL  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans            &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans            &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        mod {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans                  &none         &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &bootloader                                            &bootloader             &none         &none       &none       &none  &none  &none
&none  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &rgb_ug RGB_MEFS_CMD 5  &out OUT_BLE  &none       &none       &none  &none  &none
&none  &none         &none         &none         &macro_ver    &none                             &none      &none                                           &out OUT_USB  &none       &none       &none  &none  &none
&none  &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG                       &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        DuplicateDefault {
            bindings = <
&kp EQUAL        &kp N1        &kp N2           &kp N3       &kp N4             &kp N5  &tog 0                                                   &mo 6      &kp N6  &kp N7              &kp N8       &kp N9            &kp N0                &kp MINUS
&kp TAB          &kp Q         &kp W            &kp E        &kp R              &kp T   &none                                                    &none      &kp Y   &kp U               &kp I        &kp O             &kp P                 &kp BSLH
&mt CAPS ESCAPE  &hml LCTRL A  &hml LEFT_ALT S  &hml LCMD D  &hml LEFT_SHIFT F  &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &hmr RIGHT_SHIFT J  &hmr RCMD K  &hmr RIGHT_ALT L  &hmr RCTRL SEMICOLON  &kp SQT
&lt 0 EQUAL      &kp Z         &kp X            &kp C        &kp V              &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp M               &kp COMMA    &kp DOT           &kp FSLH              &lt 0 MINUS
&mkp MB1         &kp GRAVE     &kp CAPS         &kp LEFT     &kp RIGHT                  &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE          &kp UP              &kp DOWN     &kp LBKT          &kp RBKT              &mo 0
            >;
        };

        keypadFunction {
            bindings = <
&kp F1     &kp F2     &kp F10   &kp F11   &kp F12    &kp F6  &trans                                                   &mo 6      &trans  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &trans
&kp TAB    &kp Q      &kp F7    &kp F8    &kp F9     &kp T   &none                                                    &none      &trans  &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &trans
&kp ESC    &kp A      &kp F4    &kp F5    &kp F6     &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &trans  &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &trans
&kp LSHFT  &kp Z      &kp F1    &kp F2    &kp F3     &kp B                        &kp HOME      &kp PG_UP                        &trans  &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &trans
&mo 0      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp SLASH        &trans
            >;
        };

        Symbol {
            bindings = <
&trans  &trans           &trans       &trans    &trans      &trans       &trans                                      &trans  &trans            &trans         &trans        &trans                &trans                 &trans
&trans  &trans           &trans       &trans    &trans      &trans       &trans                                      &trans  &trans            &trans         &trans        &trans                &trans                 &trans
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT  &trans  &trans  &trans      &trans  &trans  &trans  &kp LEFT_CONTROL  &kp AMPERSAND  &kp ASTERISK  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans
&trans  &trans           &trans       &trans    &trans      &trans                       &trans      &trans                  &trans            &trans         &trans        &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans
&trans  &trans           &trans       &trans    &trans                   &trans  &trans  &trans      &trans  &trans  &trans                    &trans         &trans        &trans                &trans                 &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        MacNavigationCondition {
            if-layers = <1 4>;
            then-layer = <5>;
        };

        CombinedNumSumFnMACCondition {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
